@model Core.MVC.Model.Student;

<form method="post" action="/Home/Create">

    <input type="text" name="Id" value="" placeholder="Id" />
    <input type="text" name="FirstName" value="" placeholder="FirstName" />
    <input type="text" name="LastName" value="" placeholder="LastName" />

    <button type="submit" name="save">保存</button>

</form>