@model IEnumerable<Core.MVC.ViewModel.StudentViewModel>;
@{
    ViewData["Title"] = "GetView";
}

<h1>GetView</h1>


@foreach (var item in Model)
{
    <p>@item.Name</p>
    //<a href="/Home/Detail/@item.Id">@item.Name</a>
    <a asp-action="Detail"   asp-route-id="@item.Id">@item.Id</a>
}

<a href="~/Home/Create">添加学生</a>


